doctype html

html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes")
        meta(name="description" content="You Have Been Tasked")
        meta(name="author" content="Mika Turunen <mika.turunen@ymail.com>")

        title YHBT!

        //- Loading the platform support before any other code starts touching the DOM 
        script(src="/public/bower/webcomponentsjs/webcomponents.js")
        link(rel="import" href="/public/bower/polymer/polymer.html")
        link(rel="import" href="/public/elements/application.html")    
        
    body(unresolved fullbleed) 
        yhbt-app
    
