node_modules/
frontend/bower
npm-debug.log
/tmp
/release/**/*.jade
/release/**/*.ts
/release/**/*.map

# Temporary ignores until I sort these out into working condition
Brocfile.js
typedefinitions/
utility/broccoli-tslint.js